body{
	margin: 1%;
	padding:1%;
	background-color: #000080;
	font-size: 100%;
	min-width: 500px;
	color:gold;
	background-image: https://thumbs.dreamstime.com/z/abstract-christmas-party-background-golden-glitter-defocused-effect-shiny-night-lights-bulb-197790424.jpg ;

}
header, footer{
  background-color:#000080;
  padding: 1%;
  margin: 1%;
  color:gold;
}
header h1{
	font-size: 3em;
	color:gold;

}

section{
  margin:1%;
    padding:1%;
}
nav{
	border: 1px solid #06425C;
	color:#06425C;
	background-color:#FFFFFF;
	overflow: auto;
	padding-left:;
}

nav a{
	display:block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 15px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
	position: static;
}

h1{
	text-align: center;
	color:rgba(255,215,0,.7);
}

  #left{
	  padding-left:35%;
  }


.myClass{
	margin: 0em 1em;
	padding:.75em;
	border: 1px solid black;
	border-radius: .25%;

	/* Safari and Chrome */	
	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;
	
}



ol{
	list-style:upper-roman; 
	margin:1em;
	font-size:1em;
}
img{
	display: none;
}

footer{
	clear: both;
	text-align:center;
	text-transform: uppercase;
	color: gold;
}

iframe {
	width:;
	height:;
	padding-left:30%;
}

@media only screen and (min-width: 900px) {
  header, body, footer{
  background-color:#000080;
  color:gold;
}

h1{
	color:gold;
}
  img{
  display:inline-block;
  width:20%;
  margin-left:1%;
   }

  #left{
    display:inline-block;
	width: 30%;
	float: left;
	color:gold;
	padding:2%;
  }
  #center{
    display:inline-block;
	color:;
	width:60%;
  }
   h1::after {
    content:""
  }
  iframe {
	width:600;
	height:800;
}

