body{
	margin: 1%;
	padding:1%;
	background-color: rgba(0,0,255,.2);
	font-size: 100%;
	min-width: 500px;
	background-image: https://thumbs.dreamstime.com/z/abstract-christmas-party-background-golden-glitter-defocused-effect-shiny-night-lights-bulb-197790424.jpg ;

}
header, footer{
  background-color:#0066FF;
  padding: 1%;
  margin: 1%;
}
header h1{
	font-size: 3em;
	color:rgba(0,0,0,.7);;

}

section{
  margin:1%;
    padding:1%;
}

nav a{
	display:inline-block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 15px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
}

h1{
	text-align: center;
	color:rgba(255,0,0,.7);;
}


.myClass{
	margin: 0em 1em;
	padding:.75em;
	border: 1px solid black;
	border-radius: .25%;

	/* Safari and Chrome */	
	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;
	
}



ol{
	list-style:upper-roman; 
	margin:1em;
}
img{
	display: none;
}

footer{
	clear: both;
	text-align:center;
	text-transform: uppercase;
}

#GoogleCal {
	width:30%;
}

@media only screen and (min-width: 900px) {
  header, footer{
  background-color:transparent;
}
  img{
  display:inline-block;
  width:20%;
  margin-left:1%;
   }

  #left{
    display:inline-block;
	width: 30%;
	float: left;
  }
  #center{
    display:inline-block;
	width:60%
  }
   h1::after {
    content:""
  }
}

