body{
	margin: 1%;
	padding:1%;
	background-color: #000080;
	font-size: 100%;
	min-width: 500px;
	color:gold;
	background-image:;

}
header, footer{
  background-color:#000080;
  padding: 1%;
  margin: 1%;
  color:gold;
}
header h1{
	font-size: 3em;
	color:gold;

}

section{
  margin:1%;
    padding:1%;
}
nav{
	border: 1px solid #06425C;
	color:#000000;
	background-color:#FFFFFF;
	overflow: auto;
	
}

nav a{
	display:block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
	position: static;
}

h1{
	text-align: center;
	color:rgba(255,215,0,.7);
}

  #left{
	  padding-left:30%;
  }


.myClass{
	margin: 0em 1em;
	padding:.75em;
	border:;
	border-radius: .25%;

	/* Safari and Chrome */	
	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;
	
}



ol{
	list-style:upper-roman; 
	margin:1em;
	font-size:1em;
}
img{
	display: none;
}

footer{
	clear: both;
	text-align:center;
	text-transform: uppercase;
	color: gold;
}

iframe {
	width:;
	height:;
	padding-left:30%;
}

table {
	font: 15px Arial;
	width:60%;
	margin:10%;
	height:15px;
	border:1px solid black;
	border-radius: 5px;
	text-align:center;
}

th {
	border-bottom:3px solid black;
	background-color:rgba(3,3,3,.3);
	font: 16px Arial;
	font-weight: bold;
	text-align: center;
}

@media only screen and (min-width: 900px) {
  header, body, footer{
  background-color:#000080;
  color:gold;
}

nav {
	
	background-color: #333;
	padding-left:40%;
		
}
nav a {
	display:;
	color: #000000;
	text-align: center;
	
}

h1{
	color:gold;
}
  img{
  display:inline-block;
  width:20%;
  margin-left:1%;
   }

  #left{
    display:inline-block;
	width: 30%;
	float: left;
	color:gold;
	padding:2%;
	border:1px solid black;
  }
  #center{
    display:inline-block;
	color:;
	width:60%;
	border:1px solid black;
  }
   h1::after {
    content:""
  }
}

